.General {
    background-color: #dce4ec8e;
}



.tag {
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
}

.title {
    color: black;
    font-family: sans-serif;
    font-size: 50px;
    margin: 0px;
    padding-bottom: 5px;
}

.divSubtitle {
    display: flex;
    margin-left: 592px;
}

.subTitle {
    color: black;
    font-family: serif;
    font-size: 23px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.flag {
    width: 35px;
    height: 20px;
    padding-left: 10px;
    padding-top: 5px;
}



.secondPart {
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
}


.firstColum {
    font-size: 25px;
    color: black;
    font-family: serif;
}

.imgMain {
    width: 115px;
    height: 115px;
}



.temp {
    font-size: 40px;
    color: black;
    padding-bottom: 5px;
    margin-right: 26px;
}

.maxMin {
    font-size: 20px;
    color: black;
    padding-bottom: 28px;
    margin-right: 26px;
}


.divMap {
    display: flex;
    flex-direction: row;
    background-color:  rgb(5, 21, 73);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-right: 32px;
}

.aMap {
    display: flex;
}

.imagenMap {
    width: 50px;
    height: 50px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}

.textMap {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-right: 15px;
    color: white;
    font-size: 20px;
}



.lastColum {
    display: inline;
    justify-content: space-around;
}

.imgText {
    display: flex;
    flex-direction: row;
}

.imgs {
    width: 23px;
    height: 23px;
    margin-top: 15px;
    margin-right: 5px;
}

.textInfo {
    font-size: 16px;
    font-family: serif;
    text-align: left;
}





@media screen and (max-width: 700px) {

    .title {
        font-size: 28px;
    }
    
    .divSubtitle {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .subTitle {
        font-size: 20px;
    }
    
    .flag {
        width: 32px;
        height: 17px;
    }

    .secondPart {
        margin-top: 15px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .firstColum {
        font-size: 16px;
    }

    .imgMain {
        width: 80px;
        height: 80px;
    }
    
    .temp {
        font-size: 23px;
    }
    
    .maxMin {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .imagenMap {
        width: 28px;
        height: 28px;
        padding-top: 6px;
    }
   
    .textMap {
        font-size: 13px;
    }

    .textInfo {
        font-size: 13px;
    }

}