:root {
    --color-btn: #0b69a0;
    --color-btnText: white;
    --color-hoverBtn: #a2d3f0;
    --color-hoverBtnText: black;
    --color-tag: #dce4ecc0;
    --color-titles: #0b69a0;
    --color-todo: #197278;
    --color-bordeTag: #283d3b;
  }